<div>
    <h1>Registro Exitoso</h1>
    <p>Tu registro ha sido exitoso. Ahora puedes iniciar sesión.</p>
    <script>
    
        setTimeout(function() {
            window.location.href = '/login';
        }, 1000);
    </script>
</div>